<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form [formGroup]="StudentForm">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="number"  id="userId" formControlName="userId" class="form-control"   />
                          <label class="form-label" for="userId">Enter the Student Id</label>
                          <br>
                          <small *ngIf="StudentForm.get('userId')?.invalid && StudentForm.get('userId')?.touched"
                          class="text-danger">User Id is Required</small>
                        </div>
                      </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="firstName" formControlName="firstName"  class="form-control" />
                        <label class="form-label" for="firstName">First Name</label>
                        <br>
                          <small *ngIf="StudentForm.get('firstName')?.invalid && StudentForm.get('firstName')?.touched"
                          class="text-danger">First Name is Required</small>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text"  id="lastName" formControlName="lastName" class="form-control" name="lastName" />
                          <label class="form-label" for="lastName">Enter the Last Name</label>
                        </div>
                      </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="branchName"  formControlName="branchName" class="form-control"/>
                          <label class="form-label" for="branchName">Department</label>
                          <br>
                          <small *ngIf="StudentForm.get('branchName')?.invalid && StudentForm.get('branchName')?.touched"
                          class="text-danger">Please enter the branch name</small>
                        </div>
                      </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="date"  id="graduationYear" formControlName="graduationYear" class="form-control"  />
                        <label class="form-label" for="graduationYear">Graduation Year</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="number"  id="class10thMarks" formControlName="class10thMarks" class="form-control" />
                          <label class="form-label" for="class10thMarks">Class 10th Marks in Percentage</label>
                          <br>
                          <small *ngIf="StudentForm.get('class10thMarks')?.invalid && StudentForm.get('class10thMarks')?.touched"
                          class="text-danger">Please enter a value between 1-100</small>
                        </div>
                        
                      </div>  
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="number"  id="class12thMarks" formControlName="class12thMarks" class="form-control" />
                          <label class="form-label" for="class12thMarks">Class 12th Marks in Percentage</label>
                          <br>
                          <small *ngIf="StudentForm.get('class12thMarks')?.invalid && StudentForm.get('class12thMarks')?.touched"
                          class="text-danger">Please enter a value between 1-100</small>
                        </div>
                      </div> 
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="number"  id="currentCgpa" formControlName="currentCgpa" class="form-control"/>
                          <label class="form-label" for="currentCgpa">Enter the current Cgpa</label>
                          <br>
                          <small *ngIf="StudentForm.get('currentCgpa')?.invalid && StudentForm.get('currentCgpa')?.touched"
                          class="text-danger">Please enter a value between 1-10</small>
                        </div>
                      </div> 
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password"  id="password" formControlName="password" class="form-control"/>
                        <label class="form-label" for="password">Password</label>
                        <br>
                        <small *ngIf="StudentForm.get('password')?.invalid && StudentForm.get('password')?.touched"
                        class="text-danger">Password must contain: Minimum 8 characters atleast 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number and 1 Special Character </small>
                      </div>
                    </div>
  
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" (click)="onRegister()" class="btn btn-primary btn-lg">Register</button>
                    </div>
                    <div class="text-center">
                      <p><a href="">Back to Home</a></p>
                    </div>
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>