
<body class="bg-image" style="background-image: url('https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg?w=1060&t=st=1670947354~exp=1670947954~hmac=2a7ee728ec5e78fb252f9b061daaff9c592421df2abaafdd4b5f08a3f225ce10'); height: 100vh; ">
    <h1>Details of Student</h1>
    
    <div toastContainer>
        <hr />
        <form #form="ngForm" *ngIf="student" (ngSubmit)="onSubmit()">
         <div>   
        <label class="form-label text-white"> Student Id</label>
        <input type="text" class="form-control" name="userId"[(ngModel)]="student.userId" readonly>
        </div>
        <div>
        <label class="form-label text-white">Student Name</label>
        <input type="text" class="form-control" name="firstName"[(ngModel)]="student.firstName">
        </div>
        <div>
            <label class="form-label text-white">Department</label>
            <input type="text" class="form-control" name="branchName"[(ngModel)]="student.branchName">
            </div>
        <br>
        <diV>
        <button class="btn btn-primary">Save</button> 
        </diV>
        <br>
        <diV>
            <a class="btn btn-danger" (click)="deleteStudent()">Delete</a>
            </diV>
    </form>
    <div class="text-center">
        <p><a class="text-white" href="">Back to Home</a></p>
      </div>
    </div>