<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse topnav a " id="navbarNav">
        <a class="navbar-brand" href="">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>  
         <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/Login">Admin</a>
          </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="student/Login">Student</a>
        </li>
        
      </ul>
    </div>
  </nav>